<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_tfg_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_corazon__1_"
        android:label="Vida Sana"
        android:roundIcon="@drawable/ic_corazon__1_"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_TFG_FrontEnd"
        android:usesCleartextTraffic="true">
        <activity android:name=".splash_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dieta"
            android:label="Dieta" />
        <activity
            android:name=".Dietas"
            android:label="Dietas"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".datos_user"
            android:label="Información"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".Alimentacion_concreta"
            android:label="Alimentación"
            android:parentActivityName=".contador_calorias" />
        <activity
            android:name=".contador_calorias"
            android:label="Alimentación"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.Proyecto_TFG_FrontEnd.NoActionBar" />
        <activity
            android:name=".Ejecucion_rutina"
            android:label="Ejecución Rutina" />
        <activity
            android:name=".Rutina"
            android:label="Rutina"
            android:parentActivityName=".Rutinas" />
        <activity
            android:name=".Rutinas"
            android:label="Rutinas"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".Ejercicio"
            android:label="Ejercicio" />
        <activity
            android:name=".Ejercicios"
            android:label="Ejercicios"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".Activity_progeso"
            android:label="Progreso"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".MenuPrincipal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".registro"
            android:parentActivityName=".Log_in"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Log_in"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>