<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_tfg_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_TFG_FrontEnd"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".datos_user"
            android:label="Información"
            android:parentActivityName=".Inicio"/>
        <activity android:name=".Alimentacion_concreta"
            android:label="Alimentación"
            android:parentActivityName=".contador_calorias"/>
        <activity android:name=".contador_calorias"
            android:label="Alimentación"
            android:parentActivityName=".Inicio"/>
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.Proyecto_TFG_FrontEnd.NoActionBar"/>
        <activity android:name=".Ejecucion_rutina"
            android:label="Ejecución Rutina" />
        <activity android:name=".Rutina"
            android:label="Rutina"
            android:parentActivityName=".Rutinas"/>
        <activity android:name=".Rutinas"
            android:label="Rutinas"
            android:parentActivityName=".Inicio"/>
        <activity android:name=".Ejercicio"
            android:label="Ejercicio" />
        <activity
            android:name=".Ejercicios"
            android:label="Ejercicios"
            android:parentActivityName=".Inicio"/>
        <activity android:name=".Activity_progeso"
            android:label="Progreso"
            android:parentActivityName=".Inicio"/>
        <activity
            android:name=".MenuPrincipal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".registro"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".Log_in"/>
        <activity
            android:name=".Log_in"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>