<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_tfg_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_corazon__1_"
        android:label="Vida Sana"
        android:roundIcon="@drawable/ic_corazon__1_"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_TFG_FrontEnd"
        android:usesCleartextTraffic="true">
        <activity android:name=".Actividades.splash_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.Dieta"
            android:label="Dieta" />
        <activity
            android:name=".Actividades.Dietas"
            android:label="Dietas"
            android:parentActivityName=".Actividades.Inicio" />
        <activity
            android:name=".Actividades.datos_user"
            android:label="Información"
            android:parentActivityName=".Actividades.Inicio" />
        <activity
            android:name=".Actividades.Alimentacion_concreta"
            android:label="Alimentación"
            android:parentActivityName=".Actividades.contador_calorias" />
        <activity
            android:name=".Actividades.contador_calorias"
            android:label="Alimentación"
            android:parentActivityName=".Actividades.Inicio" />
        <activity
            android:name=".Actividades.Inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.Proyecto_TFG_FrontEnd.NoActionBar" />
        <activity
            android:name=".Actividades.Ejecucion_rutina"
            android:label="Ejecución Rutina" />
        <activity
            android:name=".Actividades.Rutina"
            android:label="Rutina"
            android:parentActivityName=".Actividades.Rutinas" />
        <activity
            android:name=".Actividades.Rutinas"
            android:label="Rutinas"
            android:parentActivityName=".Actividades.Inicio" />
        <activity
            android:name=".Actividades.Ejercicio"
            android:label="Ejercicio" />
        <activity
            android:name=".Actividades.Ejercicios"
            android:label="Ejercicios"
            android:parentActivityName=".Actividades.Inicio" />
        <activity
            android:name=".Actividades.Activity_progeso"
            android:label="Progreso"
            android:parentActivityName=".Actividades.Inicio" />
        <activity
            android:name=".Actividades.MenuPrincipal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Actividades.registro"
            android:parentActivityName=".Actividades.Log_in"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Actividades.Log_in"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>